

body
{
 background-color: #e0e0e0;
 display:block;
 text-align:center;
 font-family: Verdana, georgia;
}


ul {
	list-style-type: none;
	display: block;
	text-align: center;
}

.menubuttons
{
background-color: #e27866;
color: white;
border-radius:10px;
padding:10px 0; 
width: 300px;
margin: 5px;
}

.top_bar
{
	top:0;
	left:0;
	right:0;
	width: 100%;
	min-width: 1050px; 
	height: 60px;
	background-color: #e88474;
	border-bottom: 0.25em solid #c46f62;
	margin: 0 0 10px 0;
	padding-left:20px;
	color:white;
	display: float;
	position: fixed; /* keeps top bar at top of page when scrolling. */
	z-index: 10;	/* set to show as top element*/
}

.titlecontainer
{

	margin-top:100px;
	display:inline-block;
	background-color:#efa6a2;
	width: 30%;
	min-width: 400px;
	padding:0 20px 0 20px;
	border-radius:5px;

	
}
.largelogo
{
	font-family:georgia,helvetica, verdana, palatino;
	font-size: 40px;
	display:block;
	float:left;
	margin: 40px 0 0 0;
	color:white;
}
#pastorimage
{
	float:right;
}

.buttoncontainer
{
	border-radius:20px;
	background-color: white;
	width: 30%;
	padding: 20px 27px 30px 0;
	margin: auto;
	margin-top: 20px;
	text-align:center;
	min-width: 500px;
	box-shadow: 7px 7px 10px #aaaaaa;
}



.copyright
{

	text-align:center;
	bottom: 10px;
	position: fixed;
	left: 0;
    bottom: 0;
	width: 100%;
	
}


.logo
{
	font-size: 25px;
	color: white;
	margin: 20px 0 20px 5px;
	float:left;
}
.logout
{
	float:right;
	color:white;
	margin-right: 20px;
	font-size:20px;
}

.container
{
	width: 80%;
	margin: 0 auto;
	margin-top:100px;
	text-align:center;
	margin-bottom:30px;
}

.acctsection
{
	background-color: white;
	margin: 10px 0 10px 0;
	padding:10px 40px 10px 40px;
	border-radius:5px;
	
}

.formcontainer
{
	font-size:12px;
	font-family: georgia;
	background-color: white;
	margin: 10px 0 10px 0;
	padding:10px 40px 10px 40px;
	border-radius:5px;
	width:60%;
	display:inline-block;
	margin-top: 160px;
	
}

.question_top_bar
{
	font-size: 30px;
	font-family: georgia;
	top:0;
	left:0;
	right:0;
	width: 100%;
	min-width: 1050px; 
	height: 150px;
	background-color: #e88474;
	border-bottom: 0.25em solid #c46f62;
	margin: 0 0 10px 0;
	padding-left:20px;
	display: float;
	position: fixed; /* keeps top bar at top of page when scrolling. */
	z-index: 10;	/* set to show as top element*/
}


